
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse_this" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "B MAP", root_path, id: "logo" %>
      </div>

      <div class="collapse navbar-collapse" id="collapse_this">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", '#' %></li>
          <li><%= link_to "Log in", '#' %></li>
          <li><%= link_to "Sign up", '#' %></li>
        </ul>
      </div>
    </div>
  </nav>
